.wrapper {margin:88px 0 0 0;}

.headline-center {text-align:center; position:relative; margin-bottom:20px}
.headline-center h2 {font-family:'Verdana'; color:#313131; font-weight:bold; font-size:22px; position:relative;}

.header-slider{margin-bottom: 50px;}

.icon-list{width: 85%; margin: 0 auto;}
.icon-list i {display:inline-block;width:78px;height:78px;line-height:72px;text-align:center;color:#fff;border-radius:50% !important;font-size:20px;background:#aaa;position:relative;left: 105px;vertical-align:middle;}

#more{position: relative; left: 43px;}
.icon-list div {font-size:17px;color:#000;display:block;margin-left:5px;font-weight:450; word-break: keep-all;position: relative;left: 63px;}
.icon-list div strong {color:#ff8f16; font-weight:500;}
.icon-list p {text-align:center; line-height:1.7; color:#717171;font-size:12px;padding:5px;}

.carousel-item{position:relative; overflow:hidden; text-align:center; height:807px}
.carousel-caption h1{font-family:'Verdana'; color:#fff; font-size:47px; font-weight:600; margin:0; line-height:1.1; text-shadow:2px 0 1px rgba(000,000,000,0.4);}
.carousel-caption h1 span{display:block; font-weight:300;}
.carousel-caption p{padding-top:10px; color:#fff;font-size:15.5px;font-weight:400;margin:0;text-shadow:1px 0 1px rgba(000,000,000,0.9);}

.container.main-contents {width:100%}
.basic-body-main.main-contents {padding:0}
.container.main-section {padding-top:15px;padding-bottom:20px}
@media (min-width:992px) {
	.container.main-section {padding-bottom:50px}
}
@media (max-width:991px) {
	.container.main-section {padding-top:30px;padding-bottom:40px}
}
@media (max-width: 748px){
	.container.main-section {padding:25px 25px 17px 25px;}
}

/* NOTICE , MAP */
.board_background{width:100%;background:#f7f7f7;}
.title{font-family:'Verdana'; margin:33px 0 18px; line-height:1; font-weight:bold; font-size:21px; color:#333;}
.plus{position: relative; top:0; right:0; display:block; text-align:center; width:25px; height:25px; line-height:24px; font-size:17px; color:#fe9d35; font-weight:400; border:1px solid #fe9d35;}
.plus:hover {background:#fe9d35; color:#fff; -webkit-transition:all 0.9s ease; transition:all 0.9s ease;}
.board ul{margin-bottom:0; padding:0; list-style:none;}
.board ul li{float:left;}

@media (max-width: 991px) {
    .wrapper {margin:54px 0 0 0;}
    .container .row {margin:0px auto 0;}
}

@media (max-width: 748px){
	.icon-list div {font-size:12px; line-height:1.6;}
	.icon-list p {display:none;}
}

/* carousel slide visual */
@media (min-width: 1200px) and (max-width: 1438px) { 
	.carousel-inner {height:670px;}
	.carousel-caption{height:670px;}
}
@media (min-width: 992px) and (max-width: 1199px) { 
	.carousel-inner {height:550px;}
    .carousel-caption{height:550px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner {height:380px}
    .carousel-caption{height:380px;}
}
@media (max-width: 767px) {
    .carousel-inner {height:250px}
    .carousel-caption{height:380px;}
	.carousel-caption h1 {font-size:25px;}
	.carousel-caption p {color:#fff;font-size:11px}
}
@media (max-width: 430px) {
    .carousel-inner {height:210px}
	.carousel-caption {height:210px}
	.carousel-caption h1 {font-size:24px;}
}